<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".Acitivy.GroupWalking"
            android:exported="false" />
        <activity
            android:name=".Acitivy.Profile"
            android:exported="false" />
        <activity
            android:name=".Acitivy.ExaminationSchedule"
            android:exported="false" />
        <activity
            android:name=".Acitivy.GroupDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Acitivy.ScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".Acitivy.AppointmentDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Acitivy.MapsActivity"
            android:exported="false" />
        <activity
            android:name=".Acitivy.StoreActivity"
            android:exported="false" />
        <activity
            android:name=".Acitivy.CheckoutActivity"
            android:exported="false" />
        <activity
            android:name=".Acitivy.BreedingActivity"
            android:exported="false" />
        <activity
            android:name=".Acitivy.Resetpassword"
            android:exported="false" />
        <activity
            android:name=".Acitivy.MainActivity"
            android:exported="true" />
        <activity
            android:name=".Acitivy.rgis"
            android:exported="false" />
        <activity
            android:name=".Acitivy.Lgin"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".BC.AlarmReceiver" />

        <activity
            android:name=".Acitivy.Barmain"
            android:exported="false" />

    </application>

</manifest>